.loginSection {
  flex: 1;
  width: 50%;
  margin: 5em auto auto auto;
}
.loginSection__passwordReset {
  color: #3D3D3D;
  text-align: center;
  text-decoration: underline;
  font-weight: bold;
}
.loginSection__errorMessage {
  color: #B1663C;
}