$AliceBlue: #E8F1F6;
$Alizarin: #e74c3c;
$DarkGrey: #B3B3B3;
$DeepBottleGreen: #1D6154;
$QuickSilver: #A7A7A7;
$SeaBlue: #306685;
$ShadowGrey: #3D3D3D;
$ShadowGrey2: #444444;
$WindsorTan: #B1663C;
$Zinc: #B9C5CC;