// IMPORTS
@import "_vars";


// CLASSES
.loginSection {
  flex: 1;
	width: 50%;
	margin: 5em auto auto auto;
    &__passwordReset {
			color: $ShadowGrey;
			text-align: center;
			text-decoration: underline;
			font-weight: bold;
    }
    &__errorMessage {
      color: $WindsorTan;
    }
}